#box {
    background-color: green;
    border: 10px solid rgb(185, 149, 173);
    width: 100%;
    padding: 20px;
    margin: 10px;
    height: 400px;
  }

.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 2vw;
    padding-right: 2vw; */
}


h1 {
    font-family: sans-serif;
    font-size: 8vw; 
    text-align: center;
    color: white
}

.br1 {
    display: block;
    margin: 5px 0;
 }

body {
    background-color: lightblue;
    text-align:center
    /* change font */
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.checked {
    color: rgb(226, 191, 32);
}

.css-box-model-class {
    /* 
        Demonstrates the CSS Box Model
    */
    border-width: 10px;
    /* 
        In order to see the border, you will need a border style.
     */
    border-style: solid;
    /* 
        You can add a margin to all four borders. If there is only one value, 
        all borders are affected You can specify in clockwise order: 
        top, right, bottom, left.
    */
    margin: 10px 5px 15px 25px;
    /* 
        While margins are at the outside of the border, paddings are at the 
        inside. You can specify a single value for all four margins, but you 
        could also specify the padding individually the as for the margins.
    */
    padding: 50px;
}

.left_text{
    text-align: left;
}

.navbar ul {
    list-style: none;
    width: 100vw;
    font-size: 179%;
    margin: 0 auto;

    padding: 0;

    background-color: rgb(15, 19, 70);
    text-align: center;
    color: white
}

.navbar li {
    width: 25vw;
    background-color: rgb(78, 8, 69);
    border: 1px solid red;
    /* 
        Show the navbar elements next to each other instead of on top of each 
        other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.navbar a {
    color:#fff;
    text-decoration: none;
}

iframe {
    width:95%;
    height:40rem;
    border: dotted;
}